.secDiv {
    border-color: black;
    border-style: solid;
    padding: 10px;
    margin: 20px 0px;
    width: 90%;
}

#userDiv {
    border-color: black;
    border-style: solid;
    align-items: center;
    height:80px;
    margin:10px 0px
}

#userAv {
    display: flex;
    float: left;
    margin: 20px 10px;
}

#userName{
    margin: 20px 10px;
}

#userKick{
    float: right;
    margin: 20px 10px;
}

#editBtn{
    width:80%;
    margin: 10px auto;
}

#name-input {
    text-align: center;
    margin: 4px 10px;
}

#chore-input{
    text-align: center;
    margin: -4px 10px;
}

#chore-sel{
    text-align: center;
    margin: -4px 10px;   
    width: 100px;
    background-color: white;
}

#group-pic{
    padding: 25px 25px;
    margin: auto auto;
}

#gList{
    background-color: white;
}

#listBtn{
    background-color:  #dae0ff;
}

#moneyInput{
    width: 100px;
}