.create-profile-divider-1 {
    margin: 20px 16px !important;
    background-color: none !important;
}

#summary-create-profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.icons-container {
    text-align: left;
}

svg.MuiSvgIcon-root.school-icon-container.MuiSvgIcon-colorPrimary {
    padding-right: 8px;
}